$colors: (
    primary: #0f68d3,
    light: #ffffff,
    background-secondary: #ffffff,
    background-primary: #f5f5f5,
    background-tertary: #e1e1e1,
    light-grey: #c6c6ce,
    grey: #717171,
    text-primary: #131313,
    text-secondary: #717171,
    text-tertary: #919191,
    success: #34c759,
    danger: #ff3b30,
    danger-light: hsla(3, 100%, 59%, 0.1),
);
$colors-dark: (
    primary: #0a96f8,
    light: #ffffff,
    background-secondary: #000000,
    background-primary: #131313,
    background-tertary: #2c2c2c,
    light-grey: #c6c6ce,
    grey: #919191,
    text-primary: #ffffff,
    text-secondary: #919191,
    text-tertary: #717171,
    success: #30d158,
    danger: #ff453a,
    danger-light: hsla(3, 100%, 61%, 0.1),
);
