@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap");

body {
  padding: 0;
  margin: 0;
  background: #eee;
  width: 100%;
  height: 100vh;
  font-family: Montserrat;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
h2 {
  font-size: 32px;
  font-weight: 800;
}
.nav {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  .brand {
    height: 40px;
    width: auto;
  }
  .search {
    height: 40px;
    width: 40%;
    border-radius: 10px;
    background: #ccc;
    position: relative;
    // overflow: hidden;
    input {
      border: none;
      height: 40px;
      width: calc(100% - 20px);
      background: transparent;
      margin: 0;
      padding: 0 10px;
      border-radius: 10px;
      &:focus {
        outline: none;
        box-shadow: 0px 12px 24px -10px rgba(0, 0, 0, 0.2);
      }
      &::placeholder {
        color: #999;
        font-weight: 500;
      }
    }
  }
  .logout {
    width: auto;
    height: 40px;
    /* background : red; */
    display: flex;
    align-items: center;
    span {
      margin-left: 5px;
      font-weight: bold;
      color: #666;
    }
  }
}
.index {
  min-height: 73vh;
  padding: 0;
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-size: 32px;
      font-weight: 800;
    }
    .new-btn {
      color: #0a96f8 !important;
      font-size: 20px;
      font-weight: 700;
      a {
        &:visited {
          color: #0a96f8;
        }
      }
    }
  }
  .notes {
    display: flex;
    flex-wrap: wrap;
    .note {
      width: 300px;
      height: auto;
      padding: 10px;
      flex-grow: 1;
      a {
        color: black;
      }
      .note-card {
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        transition: all ease-in 0.1s;
        &:hover {
          box-shadow: 0px 12px 24px -10px rgba(0, 0, 0, 0.2);
        }
        .title {
          font-size: 24px;
          font-weight: 700;
        }
        .content {
          margin-top: 10px;
          color: #666;
          p {
            margin: 0;
          }
        }
        .last-edited {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          color: #ababab;
          font-size: 14px;
          margin-top: 20px;
          .date {
            display: flex;
            align-items: center;
            margin-right: 30px;
            img {
              margin-top: -2px;
            }
          }
          .time {
            display: flex;
            align-items: center;
          }
          span {
            margin-left: 5px;
          }
        }
      }
    }
  }
}
.add-note {
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .info-title {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      img {
        margin-right: 10px;
        height: 20px;
      }
    }
    a {
      color: black !important;
      &:visited {
        color: black !important;
      }
    }
  }
  .save-btn-disabled {
    min-width: 100px;
    background: #ccc;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    cursor: default;
    display: none;
  }
  .save-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0a96f8;
    cursor: pointer;
    &:hover {
      box-shadow: 0 6px 12px -4px rgba(10, 150, 248, 0.16);
    }
  }
  .circle {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 10px;
    border-radius: 50%;
    border-top: 2px solid white;
    border-right: 2px solid transparent;
    animation: spinner 0.6s linear infinite;
  }
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
  .check {
    transform: scaleX(1) rotate(45deg);
    margin: -3px 10px 0 0;
    height: 12px;
    width: 5px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
  }
  .note-taking-area {
    // width:100%;
    .title {
      input {
        width: calc(100% - 40px);
        font-size: 40px;
        background: transparent;
        border: none;
        border-bottom: 2px solid #666666;
        color: black;
        font-weight: 700;
        padding: 0 20px;
        &:focus {
          outline: none;
          border-bottom: 2px solid black;
        }
      }
    }
    .note-typed {
      margin-top: 20px;
      textarea {
        // background: transparent;
        border-radius: 20px;
        width: calc(100% - 40px);
        padding: 20px;
        border: none;
        min-height: 500px;
        max-height: 800px;
        font-weight: 500;
        resize: none;
        &:focus {
          outline: none;
          box-shadow: 0px 24px 24px -24px rgba(0, 0, 0, 0.2);
        }
        &::placeholder {
          font-weight: 500;
        }
      }
    }
  }
}
.note {
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .info-title {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      img {
        margin-right: 10px;
        height: 20px;
      }
    }
    a {
      color: black;
      &::visited {
        color: black !important;
      }
    }
  }
  .cta-btn {
    display: flex;
  }
  .save-btn-disabled {
    background: #ccc;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    cursor: default;
    display: none;
    margin-left: 20px;
  }
  .save-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0a96f8;
    cursor: pointer;
  }
  .circle {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 10px;
    border-top: 2px solid white;
    border-right: 2px solid transparent;
    animation: spinner 0.6s linear infinite;
  }
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
  .check {
    transform: scaleX(1) rotate(45deg);
    margin: -3px 10px 0 0;
    height: 12px;
    width: 5px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
  }
  .delete-btn {
    padding: 10px 30px;
    border-radius: 5px;
    color: rgb(198, 40, 40);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid rgb(198, 40, 40);
    justify-self: flex-end;
    cursor: pointer;
    &:hover {
      box-shadow: 0 6px 12px -4px rgba(198, 40, 40, 0.16);
    }
  }
  .note-taking-area {
    // width:100%;
    .title {
      input {
        width: calc(100% - 40px);
        font-size: 40px;
        background: transparent;
        border: none;
        color: black;
        font-weight: 700;
        padding: 0 20px;
        &:focus {
          outline: none;
          border-bottom: 2px solid black;
        }
      }
    }
    .note-typed {
      margin-top: 20px;
      textarea {
        // background: transparent;
        border-radius: 20px;
        width: calc(100% - 40px);
        padding: 20px;
        border: none;
        min-height: 500px;
        max-height: 800px;
        font-weight: 500;
        resize: none;
        &:focus {
          outline: none;
          box-shadow: 0px 24px 24px -24px rgba(0, 0, 0, 0.2);
        }
        &::placeholder {
          font-weight: 500;
        }
      }
    }
  }
  .delete-popup {
    width: 100%;
    height: 100vh;
    background: rgba(2, 4, 20, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: down 0.5s ease-in;
    .delete-dialog {
      background: white;
      width: 40%;
      height: auto;
      padding: 20px;
      border-radius: 20px;
      overflow: hidden;
      .bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
          margin: 0;
        }
        .cross {
          font-size: 30px;
          font-weight: 700;
          transform: rotate(45deg);
          color: #777;
          margin: 0;
          cursor: pointer;
        }
      }
      .alert {
        display: flex;
        color: rgb(198, 40, 40);
        background: rgb(251, 233, 231);
        justify-content: center;
        align-items: flex-start;
        margin-top: 30px;
        border-radius: 5px;
        .danger {
          text-align: center;
          font-weight: 700;
        }
        img {
          margin: 13px 10px 0 20px;
        }
      }
      .question {
        margin-top: 30px;
        font-weight: 500;
      }
    }
    .popup-btn {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      .btn {
        padding: 10px 25px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
      }
      .cancel-btn {
        color: #777;

        &:hover {
          background: #eee;
        }
      }
      .delete-approve-btn {
        background: rgb(198, 40, 40);
        color: rgb(251, 233, 231);
        margin-left: 20px;
        &:hover {
          background: rgb(150, 40, 40);
        }
      }
    }
    @keyframes down {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 100;
      }
    }
  }
}
.circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 10px;
  border-radius: 50%;
  border-top: 2px solid white;
  border-right: 2px solid transparent;
  animation: spinner 0.6s linear infinite;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.check {
  transform: scaleX(1) rotate(45deg);
  margin: -3px 10px 0 0;
  height: 12px;
  width: 5px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
@media only screen and (max-width: 480px) {
  .container {
    width: 95%;
  }
  .info {
    .info-title {
      h2 {
        font-size: 24px;
      }
      img {
        margin-right: 5px !important;
      }
    }
  }
  .nav {
    padding: 10px !important;
    .brand {
      order: 1;
      img {
        height: 30px;
        margin-top: 5px;
      }
    }
    .search {
      order: 3;
      width: 100%;
      flex-grow: 1;
      margin-top: 10px;
      height: 36px;
      input {
        width: calc(100% - 20px);
        height: 36px;
      }
    }
    .logout {
      order: 2;
    }
  }
  .index {
    .info {
      .new-btn {
        font-size: 18px;
      }
    }
    .notes {
      .note {
        margin-bottom: 20px;
        padding: 0;
      }
    }
  }
  .add-note {
    .save-btn-disabled {
      max-width: 80px;
      padding: 10px 10px;
    }
    .note-taking-area {
      .title {
        input {
          font-size: 24px;
          padding: 0 10px;
          width: calc(100% - 20px);
        }
      }
    }
  }
  .note {
    .note-taking-area {
      .title {
        input {
          font-size: 18px;
          padding: 0 10px;
          width: calc(100% - 20px);
        }
      }
    }
    .save-btn-disabled {
      max-width: 102px;
      padding: 10px 10px;
      margin-left: 5px;
    }
    .delete-btn {
      padding: 10px 10px;
    }
    .delete-popup {
      .delete-dialog {
        width: 80%;
        .alert {
          img {
            margin: 14px 0 0 10px;
          }
          .danger {
            padding: 0 10px 0 0;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 375px) {
  .info {
    .info-title {
      h2 {
        font-size: 18px;
      }
    }
  }
  .note {
    .info {
      .info-title {
        img {
          height: 16px;
        }
      }
    }
  }
}
