@import "reboot";
@import "variables";
@import "mixins";
@import "functions";
@import "typography";

@import "global";

@import "navbar";
@import "login";
@import "home";
@import "note";
@import "footer";

.page {
  height: auto;
  min-height: calc(100vh - 158px);
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 48px;
  p {
    font-size: 16px;
    font-weight: bold;
    color: getColor(grey);
  }
  .info-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    p {
      font-size: 16px;
      font-weight: bold;
      color: getColor(grey);
    }
    svg {
      width: 16px;
      height: 16px;
      fill: none;
      stroke: getColor(grey);
      stroke-linecap: round;
      stroke-width: 4;
      stroke-linejoin: round;
      margin-right: 8px;
    }
  }
  .new-btn {
    padding: 12px;
    svg {
      stroke: getColor(primary);
      width: 24px;
      height: 24px;
      fill: none;
      stroke-linecap: round;
      stroke-width: 2;
      stroke-linejoin: round;
    }
    a {
      &:visited {
        color: getColor(primary);
      }
    }
  }
}
.skeleton {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  row-gap: 24px;
  margin-top: 24px;
  .skeleton-card {
    background: getColor(background-primary);
    height: 122px;
    padding: 20px;
    border-radius: 8px;
    transition: all ease-in 0.1s;
  }
}

.save-btn-disabled {
  width: 144px;
  background: getColor(grey);
  padding: 8px 16px;
  height: 48px;
  border-radius: 4px;
  color: getColor(light);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  cursor: default;
  display: none;
  margin-left: 16px;
}
.save-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: getColor(primary);
  cursor: pointer;
  &:hover {
    box-shadow: 0 6px 12px -4px rgba(10, 150, 248, 0.16);
  }
}
.circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 8px;
  border-radius: 50%;
  border-top: 2px solid getColor(light);
  border-right: 2px solid transparent;
  animation: spinner 0.6s linear infinite;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.note-taking-area {
  margin-top: 24px;
  .title {
    input {
      width: 100%;
      font-size: 40px;
      background: transparent;
      border: none;
      border-bottom: 2px solid getColor(grey);
      color: getColor(text-primary);
      font-weight: 700;
      padding: 0 20px;
      &:focus {
        outline: none;
        border-bottom: 2px solid getColor(text-primary);
      }
    }
  }
  .note-typed {
    margin-top: 20px;
    textarea {
      background: getColor(background-primary);
      color: getColor(text-primary);
      border-radius: 20px;
      line-height: 24px;
      width: 100%;
      padding: 20px;
      border: none;
      min-height: 500px;
      max-height: 800px;
      font-weight: 500;
      resize: none;
      &:focus {
        outline: none;
        box-shadow: 0px 24px 24px -24px rgba(0, 0, 0, 0.2);
      }
      &::placeholder {
        font-weight: 500;
      }
    }
  }
}
.delete-btn {
  fill: none;
  stroke: getColor(danger);
  stroke-linecap: round;
  stroke-width: 2;
  stroke-linejoin: round;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 6px 12px -4px rgba(198, 40, 40, 0.2);
  }
}
.check {
  margin-right: 8px;
  fill: none;
  stroke: getColor(light);
  stroke-linecap: round;
  stroke-width: 2;
  stroke-linejoin: round;
  svg {
    width: 16px;
    height: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .page {
    min-height: calc(100vh - 208px);
  }

  .info {
    .new-btn {
      font-size: 16px;
    }
  }
  .notes {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .skeleton {
    grid-template-columns: 1fr;
  }

  .save-btn-disabled {
    width: 144px;
    padding: 8px 16px;
    margin-left: 16px;
  }
  .note-taking-area {
    .title {
      input {
        font-size: 18px;
        padding: 0 8px;
        width: 100%;
      }
    }
  }
}
